<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Phoenix</title>

    <link rel="stylesheet" href="/wel.css">

    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;600;700&display=swap" rel="stylesheet">
    <title>Phoenix-intro</title>
  </head>
  <body>
    <div  id="voiceintro">
      <button type="button" name="button" id="voiceintrobutton">Phoenix says</button>
    </div>

      <div >
        <h1 class="tracking-in-expand">Phoenix</h1>

        <div class="fade-in " onclick="say()">
            <i class="hovicon effect-8">
              <a href="login" id="Phoenix-logo">
                <div id="Phoenix-logo">
                  <img   src="logo.png" alt="">
                </div>
              </a>
            </i>

        </div>
      </div>

  </body>
  <script src="welScript.js" charset="utf-8"></script>

</html>
